<a href="https://colab.research.google.com/github/jaks19/1806/blob/master/swarna_python_tutorial_june_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Crash Course

### Basics and Data Types

**Basics**
* Comments
* Variables and Data types (int, float, str, bool, list, dict, general objects)

**Containers (and expanding on container data types)**
* Lists
* Dictionaries
* Conceptual extension to Object-oriented programming (classes, objects, ...)

**Logic (and expanding on bool data type)**
* Booleans
* if else
* Loops (for, while)

### Modularity
**Coding in independent blocks**
* Functions / methods
* Compositionality with methods

**Classes**

**Comments**

In [0]:
# setting variables

a = 80 
print(a) 

b = 30
print(b)

c = 100
print(c)

80
30
100

**Variables and Data Types**

Names of variables cannot be purely numerical, and they cannot be key words.

In [0]:
int_example = 80
print('int_example is of type: ', type(int_example))

# print(f'int_example is of type: {type(int_example)}')
# print('int_example is of type: {type(int_example)}')

float_example = 80.0
print(type(float_example))

str_example = 'hello'
print(type(str_example))

int_example is of type:  <class 'int'>
<class 'float'>
<class 'str'>

In [0]:
bool_example_true = True
print(type(bool_example_true))

bool_example_false = False
print(type(bool_example_false))

<class 'bool'>
<class 'bool'>

Containers are things that can carry many variables in them

In [0]:
# list examples
# a list is an ORDERED container of variables

# Note:
# values can be of any type

l0 = []

l1 = [33]
l2 = [33, 44, 55]
l3 = [33, 'apple', [22, 33333], [[[[[[[[[[[[[[[[[], 33]]]]]]], 66]]]]], 100]]]]]
l4 = [33, "apple", True, 55.99999, int_example, l1]

print(l0, l1, l2, l3, l4)
print(type(l0), type(l1), type(l2), type(l3), type(l4))

# print(*l4)

[] [33] [33, 44, 55] [33, 'apple', [22, 33333], [[[[[[[[[[[[[[[[[], 33]]]]]]], 66]]]]], 100]]]]] [33, 'apple', True, 55.99999, 80, [33]]
<class 'list'> <class 'list'> <class 'list'> <class 'list'> <class 'list'>

In [57]:
# looking ahead to the list chapter:
print(l4[3])
print(l4[3:5])

# many other indexing details to be seen, for now this only shows that indexing is possible

55.99999
[55.99999, 80]

In [54]:
# dictionary examples
# a dict is a container of variables, indexed by their keys

# Notes:
# - keys have to be strings
# - variables can be of any type

d = {'item1': 33, 'xyxy': l4, 'dict1': {'cat': 0, 'dog': 1, 'rain': 'bad', 'dict': {'school': 'good'}}, 'list': [2, 3.1, 'number', True]}

print(d)
print(type(d))

{'item1': 33, 'xyxy': [33, 'apple', True, 55.99999, 80, [33]], 'dict1': {'cat': 0, 'dog': 1, 'rain': 'bad', 'dict': {'school': 'good'}}, 'list': [2, 3.1, 'number', True]}
<class 'dict'>
[33, 'apple', True, 55.99999, 80, [33]]
{'cat': 0, 'dog': 1, 'rain': 'bad', 'dict': {'school': 'good'}}

In [0]:
# looking ahead to the dict chapter:

# print(d['xyxy'])
# print(d['dict1'])

In [73]:
# type: City
# (Be able to make variables of this type)

class Dog:
  def __init__(self, name):
    self.saved_name = name
    return

  def bark(self):
    print('woof my name is: ', self.saved_name)
    return

d1 = Dog('dogAAAAA')
d2 = Dog('fluffy')

print(type(d1), type(d2))

d1.bark()
d2.bark()

<class '__main__.Dog'> <class '__main__.Dog'>
woof my name is:  dogAAAAA
woof my name is:  fluffy

**List**

In [0]:
### creating
lst = [33, "apple", True, 55.99999, 9999, 444]

In [94]:
### indexing (basics)
print('basics')
print(lst[0])
print(lst[-1])
print(lst[1:4])

### indexing (fancy)
print('fancy')
# last two in list order [9999, 444]
print(lst[-2:])

# last three, in reverse list order [444, 9999, 55.99999]
lst_rev = list(reversed(lst))
# print(lst_rev)
print(lst_rev[0:3])

basics
33
444
['apple', True, 55.99999]
fancy
[9999, 444]
[444, 9999, 55.99999]

In [96]:
### appending
lst.append(000000000)
lst.append('hahahahahaha')
print(lst)

[33, 'apple', True, 55.99999, 9999, 444, 0, 'hahahahahaha', 0, 'hahahahahaha']

In [107]:
### concatenating
print(lst)

# lst-lst-lst
print(lst+lst+lst)

# lst-[1,2,3,4,5]
print(lst+[1,2,3,4,5])

### deleting
# delete second element
x = [lst[0]]
print(x + lst[2:])
print([lst[0]] + lst[2:])

[33, 'apple', True, 55.99999, 9999, 444]
[33, 'apple', True, 55.99999, 9999, 444, 33, 'apple', True, 55.99999, 9999, 444, 33, 'apple', True, 55.99999, 9999, 444]
[33, 'apple', True, 55.99999, 9999, 444, 1, 2, 3, 4, 5]
[33, True, 55.99999, 9999, 444]
[33, True, 55.99999, 9999, 444]
[33, 'apple', True, 55.99999, 9999, 444]
apple
[33, True, 55.99999, 9999, 444]

In [0]:
print(lst)
print(lst.pop(1))
print(lst)

In [111]:
lst.remove(9999)
print(lst)

[33, 'apple', True, 55.99999, 444]

In [112]:
lst_dup = [22,33,55,1111,2222,55]
print(lst_dup)

lst_dup.remove(55)
print(lst_dup)

[22, 33, 55, 1111, 2222, 55]
[22, 33, 1111, 2222, 55]

Dictionary

In [0]:
d = {'item1': 33, 'xyxy': 1111, 'dict1': {'innername': 44}, 'list': [2, 3.1, 'number', True]}

In [135]:
print(d['item1'])
del d['item1']
print(d)

33
{'xyxy': 1111, 'dict1': {'innername': 44}, 'list': [2, 3.1, 'number', True]}

In [136]:
d['newkey'] = 919191919191
print(d)

{'xyxy': 1111, 'dict1': {'innername': 44}, 'list': [2, 3.1, 'number', True], 'newkey': 919191919191}

In [137]:
d['xyxy'] = 7777777
print(d)

{'xyxy': 7777777, 'dict1': {'innername': 44}, 'list': [2, 3.1, 'number', True], 'newkey': 919191919191}

# Exercises: Variables, Types, Containers

In [0]:
# Create a list with all the data types in the list

# Create a list with 5 elements (i=0,...,4), each element is itself a list containing a list ... (nested i times)

# Create a dictionary with elements of the alphabet (string), mapped to their index in the alphabet (integer)

In [147]:
my_list_100 = list(range(100))
print(my_list_100)

my_list_1000 = list(range(1000))
print(my_list_1000)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999]

In [0]:
### assign the following to variables, and print the variables:

# (a) numbers at indices 45-65
# (b) numbers at indices 23-43, 90-98
# (c) obtain the sum of all the numbers (in 1 line)
# (d) split the list into 10 lists

In [0]:
my_string_ap = 'abcdefghijklmnop'

my_string_az = 'abcdefghijklmnopqrstuvwxyz'

In [0]:
### assign the following to variables, and print the variables:

# (a) first 10 characters of the string
# (b) f to m
# (c) split the string into individual characters, that now are in a list as individual elements
# (d) split the string in two halves, without using the known length of the string (i.e. your line of code should work for any given string)

In [149]:
### Research "defaultdict"

# Create a dictionary, where I can look for ANY element imaginable (any key), and if you never entered that key, it should return value of 'not found', otherwise, it should return the value you purposedly assigned to that key

d = # TODO: some dictionary

# For example: I should be able to do
d['hey'] = 1000
print(d['hello']) # should give me 'not found'
print(d['ahjfhjkjhfkajhkdfjhkqj']) # should give me 'not found'
print(d['hey']) # should give me 1000

SyntaxError: ignored